<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="components/projects/projects.css">
</head>
<body>
<div class="projects" id="my-projects">
    <div class="projects-navi">
        <a class="projects-tag">Realizacje</a>
        <a class="projects-title">Nasze <span class="italic">projekty</span></a>
    </div>
    <div class="grid gradient-overlay">
        <div class="grid-sizer"></div>
        <div class="grid-item">
            <img src="/src/assets/pexels-akbph-16280790.png">
        </div>
        <div class="grid-item">
            <img src="/src/assets/pexels-da-capture-9983638.png">
        </div>
        <div class="grid-item">
            <img src="/src/assets/pexels-dylann-hendricks-17136529.png">
        </div>
        <div class="grid-item">
            <img src="/src/assets/pexels-ian-15663483.png">
        </div>
        <div class="grid-item">
            <img src="/src/assets/pexels-joan-costa-12024680.png">
        </div>
        <div class="grid-item">
            <img src="/src/assets/pexels-laura-meinhardt-17813243.png">
        </div>
        <div class="grid-item hidden">
            <img src="/src/assets/pexels-laura-paredis-13156106.png">
        </div>
        <div class="grid-item hidden">
            <img src="/src/assets/pexels-mateusz-walendzik-17146810.png">
        </div>
        <div class="grid-item hidden">
            <img src="/src/assets/pexels-mathias-reding-17720152.png">
        </div>
        <div class="grid-item hidden">
            <img src="/src/assets/pexels-nazila-azimzada-13730847.png">
        </div>
        <div class="grid-item hidden">
            <img src="/src/assets/pexels-reinaldo-simoes-17890876.png">
        </div>
        <div class="grid-item hidden">
            <img src="/src/assets/pexels-susan-flores-17393368.png">
        </div>

        <button class="expand-button">Rozwiń <span class="material-symbols-outlined">arrow_downward</span></button>
        <button class="collapse-button" style="display: none">Zwiń <span class="material-symbols-outlined">arrow_upward</span></button>
    </div>
</div>

</body>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.js"></script>
<script src="components/projects/projects.js"></script>

</html>
