<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="components/offer/offer.css">
</head>
<body>
<div class="offer" id="my-offer">
    <div class="about-offer">
        <a class="offer-tag">Oferta</a>
        <a class="offer-title">Działamy <span class="italic">kompleksowo</span></a>
        <a class="offer-desc">
            Oferujemy kompletną obsługę inwestycji terenów zielonych.
            Projektujemy nowoczesne ogrody przydomowe oraz rezydencjonalne.
            Stworzymy dla Ciebie projekt, zwizualizujemy go i wcielimy w życie,
            a na każdym etapie posłużymy radą i wieloletnim doświadczeniem.
        </a>
    </div>

    <div class="cards">
        <div class="card">
            <div class="card-body">
                <div class="card-body-upper">
                    <img src="/src/assets/pencil.png" alt="">
                <a class="card-title">Projekty</a>
                <a class="card-text">
                    Zaprojektujemy Twój ogród w nowoczesnym stylu i z najlepszym
                    wykorzystaniem istniejącej przestrzeni.
                </a>
                                </div>
                                <div class="card-body-lower">
                <button class="card-button">Dowiedz się więcej
                    <span class="material-symbols-outlined">arrow_forward</span>
                </button>
                                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="card-body-upper">
                    <img src="/src/assets/eye.png" alt="">
                    <a class="card-title">Wizualizacje</a>
                    <a class="card-text">
                        Przedstawimy Ci projekty koncepcyjne w postaci
                        wirtualnego spaceru animowanego w technologii 3D.
                    </a>
                </div>
                <div class="card-body-lower">
                    <button class="card-button">Dowiedz się więcej
                        <span class="material-symbols-outlined">arrow_forward</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="card-body-upper">
                    <img src="/src/assets/stars.png" alt="">
                    <a class="card-title">Realizacje</a>
                    <a class="card-text">
                        Zrealizujemy Twoje marzenie przy użyciu najnowszych
                        rozwiązań i zaawansowanych technologii.
                    </a>
                </div>
                <div class="card-body-lower">
                    <button class="card-button">Dowiedz się więcej
                        <span class="material-symbols-outlined">arrow_forward</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script src="./offer.js"></script>
</html>
