<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="components/sliders/sliders.css">
</head>
<body>
<div class="slider" id="my-slider">
    <div id="carouselExampleFade" class="carousel slide carousel-fade">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="single-item">
                    <div class="left-side">
                        <a class="slider-title">Nowoczesna aranżacja Twojego ogrodu</a>
                        <a class="slider-slide-text">
                            Marka GiardDesign to wieloletnie doświadczenie i wysoka estetyka realizacji.
                            Oferujemy kompleksowy zakres usług z indywidualnym podejściem do każdego projektu.
                        </a>
                        <div class="slider-buttons">
                            <button class="slider-button-1">Skontaktuj się z nami</button>
                            <button class="slider-button-2">
                                Zobacz nasze realizacje <span class="material-symbols-outlined">arrow_downward</span>
                            </button>
                        </div>
                    </div>
                    <div class="right-side">
                        <img src="./assets/Photo.png" alt="">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="single-item">
                    <div class="left-side">
                        <a class="slider-title">Nowoczesna aranżacja Twojego ogrodu2</a>
                        <a class="slider-slide-text">
                            Marka GiardDesign to wieloletnie doświadczenie i wysoka estetyka realizacji.
                            Oferujemy kompleksowy zakres usług z indywidualnym podejściem do każdego projektu.
                        </a>
                        <div class="slider-buttons">
                            <button class="slider-button-1">Skontaktuj się z nami</button>
                            <button class="slider-button-2">Zobacz nasze realizacje</button>
                        </div>
                    </div>
                    <div class="right-side">
                        <img src="./assets/Photo.png" alt="">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="single-item">
                    <div class="left-side">
                        <a class="slider-title">Nowoczesna aranżacja Twojego ogrodu3</a>
                        <a class="slider-slide-text">
                            Marka GiardDesign to wieloletnie doświadczenie i wysoka estetyka realizacji.
                            Oferujemy kompleksowy zakres usług z indywidualnym podejściem do każdego projektu.
                        </a>
                        <div class="slider-buttons">
                            <button class="slider-button-1">Skontaktuj się z nami</button>
                            <button class="slider-button-2">Zobacz nasze realizacje</button>
                        </div>
                    </div>
                    <div class="right-side">
                        <img src="./assets/Photo.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

<script src="./sliders.js"></script>
</html>
