<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="components/contact/contact.css">
</head>
<body>
<div class="contact" id="my-contact">
    <div class="contact-container">
        <div class="contact-left-side">
            <a class="contact-title">Zostańmy w kontakcie!</a>
            <a class="contact-title">Znajdziesz nas na <span class="italic contact-keyword">Instagramie.</span></a>
        </div>
        <div class="contact-right-side">
            <div class="contact-subtitle">
                <a>Śledź nasze</a>
                <a>najnowsze realizacje!</a>
            </div>
            <button class="contact-button">Instagram</button>
        </div>
    </div>
</div>
</body>
<script src="./contact.js"></script>
</html>
