<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="components/header/header.css">
</head>

<body class="header-body">
<div class="header">
    <div class="header-left-side">
        <img src="/src/assets/giarddesign-logo.png">
    </div>
    <div class="header-right-side">
        <div class="dropdown">
            <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Oferta <span class="material-symbols-outlined">expand_more</span>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Oferta 1</a></li>
                <li><a class="dropdown-item" href="#">Oferta 2</a></li>
                <li><a class="dropdown-item" href="#">Oferta 3</a></li>
            </ul>
        </div>
        <a>O firmie</a>
        <a>Realizacje</a>
        <a>Kontakt</a>
        <div class="search-box">
            <input type="text" placeholder="Co chcesz wyszukać..."/>
            <div class="search-btn">
                <i class="fas fa-search"></i>
            </div>
        </div>
    </div>
</div>
</body>

<script src="./header.js"></script>
</html>
